[server]
http_addr = 0.0.0.0
http_port = 3000
domain = {{ ansible_host }}
root_url = http://{{ ansible_host }}:3000/

[security]
admin_user = {{ grafana_admin_user }}
admin_password = {{ grafana_admin_password }}
secret_key = {{ grafana_secret_key }}
disable_gravatar = true
cookie_secure = false
cookie_samesite = lax

[users]
allow_sign_up = false
allow_org_create = false
auto_assign_org = true
auto_assign_org_role = Viewer

[auth.anonymous]
enabled = false

[log]
mode = console
level = warn

[alerting]
enabled = true
execute_alerts = true

[unified_alerting]
enabled = false
